In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Khatanga,RU,2021-10-24 18:48:31,71.9667,102.5000,0.57,90,84,16.51
1,1,Bluff,NZ,2021-10-24 18:48:28,-46.6000,168.3333,52.61,94,100,4.74
2,2,Wyndham,US,2021-10-24 18:49:26,37.6985,-77.6125,76.80,55,1,5.01
3,3,Weligama,LK,2021-10-24 18:49:26,5.9667,80.4167,78.06,85,95,8.34
4,4,Cabedelo,BR,2021-10-24 18:49:27,-6.9811,-34.8339,86.67,65,97,12.24

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Wyndham,US,2021-10-24 18:49:26,37.6985,-77.6125,76.80,55,1,5.01
3,3,Weligama,LK,2021-10-24 18:49:26,5.9667,80.4167,78.06,85,95,8.34
4,4,Cabedelo,BR,2021-10-24 18:49:27,-6.9811,-34.8339,86.67,65,97,12.24
9,9,Banda Aceh,ID,2021-10-24 18:49:28,5.5577,95.3222,79.07,81,100,6.87
11,11,Georgetown,MY,2021-10-24 18:48:57,5.4112,100.3354,77.95,94,20,1.99
15,15,Ifo,NG,2021-10-24 18:49:30,6.8144,3.1958,83.82,83,37,4.38
16,16,Puerto Escondido,MX,2021-10-24 18:49:30,15.8500,-97.0667,86.83,58,40,6.91
17,17,Esna,EG,2021-10-24 18:49:31,25.2934,32.5540,77.02,24,0,11.21
26,26,Bambanglipuro,ID,2021-10-24 18:49:34,-7.9500,110.2833,77.52,82,100,3.80
27,27,Yaan,NG,2021-10-24 18:49:34,7.3833,8.5667,77.72,76,19,3.94

In [11]:
preferred_cities_df.count()

City_ID       172
City          172
Country       171
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [12]:
preferred_cities_df=preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
2            Wyndham      US     76.80  37.6985  -77.6125
3           Weligama      LK     78.06   5.9667   80.4167
4           Cabedelo      BR     86.67  -6.9811  -34.8339
9         Banda Aceh      ID     79.07   5.5577   95.3222
11        Georgetown      MY     77.95   5.4112  100.3354
15               Ifo      NG     83.82   6.8144    3.1958
16  Puerto Escondido      MX     86.83  15.8500  -97.0667
17              Esna      EG     77.02  25.2934   32.5540
26     Bambanglipuro      ID     77.52  -7.9500  110.2833
27              Yaan      NG     77.72   7.3833    8.5667

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Wyndham,US,76.80,37.6985,-77.6125,Hilton Richmond Hotel & Spa/Short Pump
3,Weligama,LK,78.06,5.9667,80.4167,Weligama Bay Resort
4,Cabedelo,BR,86.67,-6.9811,-34.8339,Hotel Pigalle
9,Banda Aceh,ID,79.07,5.5577,95.3222,Sulthan Hotel International
11,Georgetown,MY,77.95,5.4112,100.3354,Cititel Penang
15,Ifo,NG,83.82,6.8144,3.1958,Footed Hotel and Suites
16,Puerto Escondido,MX,86.83,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
17,Esna,EG,77.02,25.2934,32.5540,Orient Star Dahabyia Isna 05 Nights Each Sunday
26,Bambanglipuro,ID,77.52,-7.9500,110.2833,Puri Brata
27,Yaan,NG,77.72,7.3833,8.5667,

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig