In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Filipe,CV,2021-10-24 19:32:10,14.8961,-24.4956,78.98,69,42,9.35
1,1,Jamestown,US,2021-10-24 19:38:54,42.0970,-79.2353,54.99,83,90,3.00
2,2,Punta Arenas,CL,2021-10-24 19:39:18,-53.1500,-70.9167,46.51,36,75,21.85
3,3,Aparecida,BR,2021-10-24 19:42:03,-22.8469,-45.2297,80.10,69,75,4.61
4,4,Argentan,FR,2021-10-24 19:42:04,48.7500,-0.0167,55.17,87,69,7.47

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Filipe,CV,2021-10-24 19:32:10,14.8961,-24.4956,78.98,69,42,9.35
3,3,Aparecida,BR,2021-10-24 19:42:03,-22.8469,-45.2297,80.10,69,75,4.61
6,6,Butaritari,KI,2021-10-24 19:32:16,3.0707,172.7902,80.20,71,2,2.66
12,12,Honiara,SB,2021-10-24 19:39:43,-9.4333,159.9500,79.52,83,7,2.89
19,19,Vaini,TO,2021-10-24 19:29:33,-21.2000,-175.2000,75.36,78,20,6.91
22,22,Kapaa,US,2021-10-24 19:39:13,22.0752,-159.3190,80.58,76,20,3.00
25,25,Avarua,CK,2021-10-24 19:42:10,-21.2078,-159.7750,75.25,60,40,12.66
27,27,Vila Velha,BR,2021-10-24 19:33:32,-20.3297,-40.2925,84.15,74,20,18.41
28,28,Kavaratti,IN,2021-10-24 19:33:44,10.5669,72.6420,81.75,75,63,6.98
38,38,Puerto Ayora,EC,2021-10-24 19:39:52,-0.7393,-90.3518,78.76,83,97,10.33

In [11]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [12]:
preferred_cities_df=preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0     Sao Filipe      CV     78.98  14.8961  -24.4956
3      Aparecida      BR     80.10 -22.8469  -45.2297
6     Butaritari      KI     80.20   3.0707  172.7902
12       Honiara      SB     79.52  -9.4333  159.9500
19         Vaini      TO     75.36 -21.2000 -175.2000
22         Kapaa      US     80.58  22.0752 -159.3190
25        Avarua      CK     75.25 -21.2078 -159.7750
27    Vila Velha      BR     84.15 -20.3297  -40.2925
28     Kavaratti      IN     81.75  10.5669   72.6420
38  Puerto Ayora      EC     78.76  -0.7393  -90.3518

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sao Filipe,CV,78.98,14.8961,-24.4956,Hotel Xaguate
3,Aparecida,BR,80.10,-22.8469,-45.2297,Rainha do Brasil Hotel
6,Butaritari,KI,80.20,3.0707,172.7902,Isles Sunset Lodge
12,Honiara,SB,79.52,-9.4333,159.9500,Heritage Park Hotel
19,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
22,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
27,Vila Velha,BR,84.15,-20.3297,-40.2925,Quality Suites Vila Velha
28,Kavaratti,IN,81.75,10.5669,72.6420,Hotels in Lakshadweep Islands
38,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))